# Text files
include README.rst
include LICENSE

# Sphinx documentation
recursive-include docs *
prune docs/_build

# Django templates
recursive-include django_htcpcp_tea/templates *
recursive-include django_htcpcp_tea/fixtures *
